<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Testing BLE
    </ion-title>
    <ion-button (click)="Scan()" slot="end">
      <ion-icon name="Bluetooth"></ion-icon>
      <p>Scan</p>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-list>
  <ion-card-content ion-item *ngfor="let device of devices">
    <p>{{device.name || "Sin nombre"}}</p>
    <p>{{device.id}}</p>
    <p>RSSI: {{device.rssi}}</p>
  </ion-card-content>
 </ion-list>
</ion-content>
